extends: practical

rules:
  global-require: 0
  import/no-dynamic-require: 0
  import/max-dependencies: 0
  import/no-unassigned-import: 0
  promise/prefer-await-to-then: 0
  promise/prefer-await-to-callbacks: 0